---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<script>
  // On mobile, setting a max-height of 100vh does not work due to how mobile browsers interpret viewport height (vh)
  // Mobdile browsers often change the viewport height (the 100vh calculation) when the address bar appears or
  // disappears as you scroll. Therefore, adjust the height dynamically with these listeners.
  function adjustHeight() {
    const viewportHeight = window.innerHeight + 'px';
    document.documentElement.style.setProperty('--vh', viewportHeight);
  }

  // Adjust height on resize and orientation change
  window.addEventListener('resize', adjustHeight);
  window.addEventListener('orientationchange', adjustHeight);

  // Initial Adjustment
  adjustHeight();
</script>

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <h1 class="first-name">TYLER</h1>
      <h1 class="last-name">BECKS</h1>
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  html, body {
    height: calc(var(--vh, 1vh));
    max-height: calc(var(--vh, 1vh));
  }

  body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h1 {
    color: transparent;
    font-family: 'Rubik', sans-serif;
    font-size: clamp(40px, 20vw, 200px);
    font-weight: 400;
    margin-bottom: clamp(-70px, -5vw, 0px);
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Smooth transition for flickering effect */
  }

  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .first-name {
    --orange: lab(65% 40 55);
    --orange-text: lab(70% 40 55);
    --orange-shadow: lab(65% 40 55/.7);

    /* The neon sign effect */
    -webkit-text-stroke: clamp(3px, 0.8vw, 8px) var(--orange-text);
    filter: drop-shadow(0 0 clamp(1px, 1vw, 6px) var(--orange-shadow)) drop-shadow(0 0 clamp(6px, 5vw, 30px) var(--orange));
    animation: turnOn 1.6s forwards 0.8s; /* 1.6s for turnon duration, starts after 0.8s */
  }

  .last-name {
    --blue: lab(65% 0 -70);
    --blue-text: lab(70% 0 -70);
    --blue-shadow: lab(65% 0 -70/.7);

    -webkit-text-stroke: clamp(3px, 0.8vw, 8px) var(--blue-text);
    filter: drop-shadow(0 0 clamp(1px, 1vw, 6px) var(--blue-shadow)) drop-shadow(0 0 clamp(6px, 5vw, 30px) var(--blue));
    animation: turnOn 1.6s forwards 1.5s; /* Delayed start for the last name, to appear after the first name */
  }

  @keyframes turnOn {
    0%  {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
