---
import AIConversation from '../components/AIConversation';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<script>
  // On mobile, setting a max-height of 100vh does not work due to how mobile browsers interpret viewport height (vh)
  // Mobdile browsers often change the viewport height (the 100vh calculation) when the address bar appears or
  // disappears as you scroll. Therefore, adjust the height dynamically with these listeners.
  function adjustHeight() {
    const viewportHeight = window.innerHeight + 'px';
    document.documentElement.style.setProperty('--vh', viewportHeight);
  }

  // Adjust height on resize and orientation change
  window.addEventListener('resize', adjustHeight);
  window.addEventListener('orientationchange', adjustHeight);

  // Initial Adjustment
  adjustHeight();
</script>

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex items-center justify-between flex-col">
    <main class="flex items-center flex-col justify-center gap-4 p-8 m-auto">
      <div>
        <h1 class="first-name font-normal">TYLER</h1>
        <h1 class="last-name font-normal">BECKS</h1>
      </div>
      <div class="ai-chat mt-2">
        <AIConversation client:load />
      </div>
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  html, body {
    height: calc(var(--vh, 1vh));
    max-height: calc(var(--vh, 1vh));
  }

  h1 {
    color: transparent;
    font-family: 'Rubik', sans-serif;
    font-size: clamp(40px, 20vw, 200px);
    line-height: 1.2;
    margin-bottom: clamp(-70px, -5vw, 0px);
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Smooth transition for flickering effect */
  }

  .first-name {
    --purple: lab(55% 63 -68);
    --purple-text: lab(60% 63 -68);
    --purple-shadow: lab(55% 63 -68/.7);

    /* The neon sign effect */
    -webkit-text-stroke: clamp(3px, 0.8vw, 8px) var(--purple-text);
    filter: drop-shadow(0 0 clamp(1px, 1vw, 6px) var(--purple-shadow)) drop-shadow(0 0 clamp(6px, 5vw, 30px) var(--purple));
    animation: turnOn 1.6s forwards 0s; /* 1.6s for turnon duration, starts after 0.8s */
  }

  .last-name {
    --blue: lab(55% 17.5 -64.5);
    --blue-text: lab(60% 17.5 -64.5);
    --blue-shadow: lab(55% 17.5 -64.5/.7);

    -webkit-text-stroke: clamp(3px, 0.8vw, 8px) var(--blue-text);
    filter: drop-shadow(0 0 clamp(1px, 1vw, 6px) var(--blue-shadow)) drop-shadow(0 0 clamp(6px, 5vw, 30px) var(--blue));
    animation: turnOn 1.6s forwards 0.8s; /* Delayed start for the last name, to appear after the first name */
  }

  .ai-chat {
    opacity: 0;
    animation: turnOn 1.6s forwards 1.6s; /* Delayed start after first and last name shows */
  }

  @keyframes turnOn {
    0%  {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
